/*.loader {
    display: flex;
    background-color: rgb(250, 250, 250);
    opacity: 0.9;
    inset: 0;
    height: 100vh;
    position: fixed;
    z-index: 1;
    animation: load 2000ms forwards;
}

.loader1 {
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-top: 8px solid $primary-color;
    border-bottom: 8px solid $primary-color;
    border-radius: 80%;
    width: 150px;
    height: 150px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: spin 2S linear infinite;
}

.loader2 {
    border-right: 8px solid $secondary-color;
    border-left: 8px solid $secondary-color;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-radius: 80%;
    width: 150px;
    height: 150px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: spin2 2S linear infinite;
}

.loader3 {
    border-right: 8px solid $primary-color;
    border-left: 8px solid $primary-color;
    border-top: 8px solid $secondary-color;
    border-bottom: 8px solid $secondary-color;
    border-radius: 80%;
    width: 70px;
    height: 70px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: spin3 2S linear infinite;
    i {
        font-size: 25px;
        display: flex;
        justify-content: center;
        margin: 22px;
        color: $secondary-color;
        animation: spin3 2S linear infinite;
    }
}

@-webkit-keyframes spin {
    0% {
        transform: rotatey(0deg);
    }
    100% {
        transform: rotatey(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotatey(0deg);
    }
    100% {
        transform: rotatey(360deg);
    }
}

@-webkit-keyframes spin2 {
    0% {
        transform: rotatey(0deg);
    }
    100% {
        transform: rotatey(360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotatey(0deg)
    }
    100% {
        transform: rotatey(360deg);
    }
}

@-webkit-keyframes spin3 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin3 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes load {
    100% {
        visibility: hidden;
    }
}*/