@keyframes check {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes appear {
  0% {
    transform: translatey(50%);
    opacity: 0;
  }
  100% {
    transform: translatey(0);
    opacity: 1;
  }
}
body {
  margin: 0px;
  font-family: "Roboto";
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 15px 0px 15px 0px;
  box-shadow: 0px 0px 5px #0000002e;
}

footer {
  background-color: #363535;
  padding: 10px 20px;
  color: white;
}
footer h3 {
  font-family: "Shrikhand";
  font-weight: 300;
}
footer ul {
  list-style-type: none;
  padding-left: 0px;
  font-weight: 100;
}
footer ul a {
  text-decoration: none;
  color: white;
  line-height: 25px;
}
footer ul a i {
  margin-right: 12px;
}
footer ul a .fa-handshake-angle {
  font-size: 12px;
}

.button {
  color: white;
  font-weight: 300;
  font-size: 15pt;
  padding: 18px 25px;
  margin-top: 20px;
  margin-bottom: 70px;
  border: none;
  border-radius: 32px;
  box-shadow: 2px 1px 16px -3px #000000;
  background: linear-gradient(176deg, #ff79da, #9356dc);
  cursor: pointer;
}
.button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.button_restaurant {
  margin-top: 50px;
  margin-bottom: 110px;
  color: white;
  font-weight: 300;
  font-size: 15pt;
  padding: 20px 65px;
  border: none;
  border-radius: 32px;
  box-shadow: 2px 1px 16px -3px #000000;
  background: linear-gradient(176deg, #ff79da, #9356dc);
  cursor: pointer;
}
.button_restaurant:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.loader {
  display: flex;
  background-color: #fafafa;
  opacity: 0.9;
  inset: 0;
  height: 100vh;
  position: fixed;
  z-index: 1;
  animation: load 2000ms forwards;
}

.loader1 {
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-top: 8px solid #9356DC;
  border-bottom: 8px solid #9356DC;
  border-radius: 80%;
  width: 150px;
  height: 150px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: spin 2S linear infinite;
}

.loader2 {
  border-right: 8px solid #FF79DA;
  border-left: 8px solid #FF79DA;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-radius: 80%;
  width: 150px;
  height: 150px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: spin2 2S linear infinite;
}

.loader3 {
  border-right: 8px solid #9356DC;
  border-left: 8px solid #9356DC;
  border-top: 8px solid #FF79DA;
  border-bottom: 8px solid #FF79DA;
  border-radius: 80%;
  width: 70px;
  height: 70px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: spin3 2S linear infinite;
}
.loader3 i {
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin: 22px;
  color: #FF79DA;
  animation: spin3 2S linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotatey(0deg);
  }
  100% {
    transform: rotatey(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotatey(0deg);
  }
  100% {
    transform: rotatey(360deg);
  }
}
@-webkit-keyframes spin2 {
  0% {
    transform: rotatey(0deg);
  }
  100% {
    transform: rotatey(360deg);
  }
}
@keyframes spin2 {
  0% {
    transform: rotatey(0deg);
  }
  100% {
    transform: rotatey(360deg);
  }
}
@-webkit-keyframes spin3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes load {
  100% {
    visibility: hidden;
  }
}
#description {
  background-color: whitesmoke;
  text-align: center;
  margin-bottom: 30px;
}
#description .map {
  background-color: rgba(214, 212, 212, 0.384);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 15pt;
  margin-bottom: 50px;
}
#description i {
  margin-right: 20px;
  font-size: 17pt;
}
#description .description__title {
  margin: 0px 90px;
  font-weight: 800;
  font-size: 20pt;
}
#description p {
  font-weight: 300;
  font-size: 17pt;
}

#fonctionnement {
  padding: 0px 25px;
  margin-bottom: 50px;
  counter-reset: steps;
}
#fonctionnement .fonctionnement__title {
  margin-top: 40px;
  margin-bottom: 30px;
}
#fonctionnement ol {
  display: flex;
  padding-left: 15px;
  gap: 16px;
  list-style-type: none;
}
@media (max-width: 1000px) {
  #fonctionnement ol {
    flex-direction: column;
  }
}
#fonctionnement li {
  position: relative;
  font-size: 14pt;
  font-weight: bolder;
  background-color: #f6f6f6;
  padding: 30px 40px;
  flex-grow: 1;
  border-radius: 16px;
  box-shadow: 5px 5px 5px #0000002e;
  cursor: pointer;
}
#fonctionnement li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  left: -13px;
  bottom: 27px;
}
#fonctionnement li:hover {
  transform: scale(1.02);
  opacity: 0.9;
  background-color: #f2eafb;
}
#fonctionnement li:hover i {
  color: #9356DC !important;
}
#fonctionnement li i.fas {
  margin-right: 30px;
  color: grey;
}

#restaurants {
  background-color: #f6f6f6;
}
#restaurants h2 {
  padding: 7% 10% 1% 6%;
}
#restaurants .restaurants__carte {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#restaurants .restaurants__carte .new {
  position: relative;
}
#restaurants .restaurants__carte .new::before {
  content: "Nouveau";
  position: absolute;
  height: 30px;
  width: 90px;
  background-color: #99E2D0;
  color: #0c6b50;
  display: grid;
  place-items: center;
  right: 16px;
  top: 16px;
  border-radius: 3px;
}
#restaurants .restaurants__carte_description {
  background-color: white;
  box-shadow: 0px 0px 5px #0000002e;
  text-decoration: none;
  object-fit: cover;
  width: 90%;
  border-radius: 30px;
  margin-bottom: 20px;
}
#restaurants .restaurants__carte_description .resto {
  border-radius: 30px 30px 0px 0px;
  height: 200px;
  width: 100%;
  object-fit: cover;
}
#restaurants .restaurants__carte_description .restaurants__nomlogo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#restaurants .restaurants__carte_description .restaurants__nomlogo .restaurants__nom {
  color: #000000;
}
#restaurants .restaurants__carte_description .restaurants__nomlogo .restaurants__nom h3 {
  margin-left: 20px;
}
#restaurants .restaurants__carte_description .restaurants__nomlogo .restaurants__nom p {
  font-weight: 300;
  margin-left: 20px;
  margin-top: -10px;
}
#restaurants .restaurants__carte_description .restaurants__nomlogo .restaurants__logo {
  width: 25px;
  height: 25px;
  position: relative;
  right: 25px;
  top: 25px;
}
#restaurants .restaurants__carte_description .restaurants__nomlogo .restaurants__logo i {
  font-size: 30px;
  position: absolute;
}
#restaurants .restaurants__carte_description .restaurants__nomlogo .far {
  color: black;
}
#restaurants .restaurants__carte_description .restaurants__nomlogo .fas {
  top: 0px;
  color: transparent;
  background-image: linear-gradient(170deg, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 400ms ease-in-out;
}
#restaurants .restaurants__carte_description .restaurants__nomlogo .fas:hover {
  opacity: 1;
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .description__title {
    font-size: 25pt;
  }

  #fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #fonctionnement h2 {
    font-size: 28pt;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #fonctionnement .fonctionnemnt__choice {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  #fonctionnement ol {
    padding: 0px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  #fonctionnement ol li {
    min-width: 260px;
    max-width: 260px;
    margin: 0 15px;
  }

  #restaurants {
    margin-top: 100px;
  }
  #restaurants h2 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 30pt;
    padding: 0px;
  }
  #restaurants .restaurants__carte {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  #restaurants .restaurants__carte .restaurants__carte_description {
    width: 45%;
  }
}
.fa-arrow-left {
  position: absolute;
  left: 20px;
  color: black;
  font-size: 20pt;
}

.banner {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

/*section container*/
#container {
  background-color: whitesmoke;
}
#container .buttondiv {
  display: flex;
  justify-content: center;
}

/*titre page + heart */
.title {
  background-color: whitesmoke;
  position: relative;
  bottom: 0px;
  display: flex;
  border-radius: 40px 40px 0;
  align-items: center;
  margin-top: -37px;
  margin-bottom: -30px;
}
.title h2 {
  font-size: 25pt;
  font-weight: 400;
  margin-left: 35px;
  font-family: "Shrikhand";
}
.title i {
  position: absolute;
  right: 30px;
  font-size: 40px;
}
.title .far {
  color: black;
}
.title .fas {
  color: transparent;
  background-image: linear-gradient(170deg, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.title .fas:hover {
  opacity: 1;
  transform: scale(1.1);
}

.menu__entry {
  margin: 50px 20px 30px 20px;
}
.menu__entry .title__dish {
  width: 90%;
  font-size: 15pt;
  margin-left: 15px;
  font-weight: 300;
}
.menu__entry .title_underline {
  border-bottom: 3.5px solid #99E2D0;
  padding-bottom: 5px;
}

/*div bloc + texte*/
.menu__category {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px gainsboro;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  font-size: 15pt;
  text-overflow: ellipsis;
  margin-top: 20px;
  line-height: 30px;
  white-space: nowrap;
  height: 90px;
  animation: appear 3s;
}
.menu__category .menu__strong {
  margin: 20px 0 0 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu__category .menu__strong .menu__light {
  font-weight: 200;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu__category:nth-child(1) {
  animation-delay: 100ms;
}
.menu__category:nth-child(2) {
  animation-delay: 100ms;
}
.menu__category:nth-child(3) {
  animation-delay: 100ms;
}
.menu__category:nth-child(4) {
  animation-delay: 100ms;
}
.menu__category .menu__price {
  margin: 0;
  margin-left: auto;
  padding: 50px 25px 0 15px;
}
.menu__category .menu__check {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  width: 80px;
  margin-right: -80px;
  transition: margin-right 0.5s;
  color: white;
  font-size: 20pt;
}
.menu__category:hover .menu__check {
  margin-right: 0;
}
.menu__category:hover .iconecheck {
  margin-right: 0;
  animation: check 1s ease;
}

.menu__strong {
  font-size: 17.5pt;
}

.menu__light {
  font-size: 14.5pt;
}

.poulet {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px gainsboro;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  font-size: 15pt;
  text-overflow: ellipsis;
  margin-top: 20px;
  line-height: 30px;
  white-space: nowrap;
  height: 120px;
}
.poulet .menu__strong {
  margin: 20px 0 0 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.poulet .menu__strong .menu__light {
  font-weight: 200;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*.entry {
    border: 1px solid red;
    margin-top: 16px;
    opacity: 1;
    animation: choix 1s ease;
}*/
/*

ORDRE D'IMPORTATION

1 - Utils
    1.1 - Variables
    1.2 - fonctions
    1.3 - Mixins
    1.4 - Placeholders
2 - Vendors
3 - Base
4 - Composants
5 - Layout
6 - pages
7 - themes

*/

/*# sourceMappingURL=style.css.map */
