.fa-arrow-left {
    position: absolute;
    left: 20px;
    color: black;
    font-size: 20pt;
}

.banner {
    width: 100%;
    height: 270px;
    object-fit: cover;
}


/*section container*/

#container {
    background-color: rgb(245, 245, 245);
    .buttondiv {
        display: flex;
        justify-content: center;
    }
}


/*titre page + heart */

.title {
    background-color: rgb(245, 245, 245);
    position: relative;
    bottom: 0px;
    display: flex;
    border-radius: 40px 40px 00;
    align-items: center;
    margin-top: -37px;
    margin-bottom: -30px;
    
    h2 {
        font-size: 25pt;
        font-weight: 400;
        margin-left: 35px;
        font-family: $police-titre;
    }
    i {
        position: absolute;
        right: 30px;
        font-size: 40px;
    }
    .far {
        color: black;
    }
    .fas {
        color: transparent;
        background-image: $gradient-color-hearth;
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 200ms ease-in-out;
    }
    .fas:hover {
        opacity: 1;
        transform: scale(1.1);
    }
}

.menu__entry {
    margin: 50px 20px 30px 20px;
    .title__dish {
        width: 90%;
        font-size: 15pt;
        margin-left: 15px;
        font-weight: 300;
    }
    .title_underline {
        border-bottom: 3.5px solid $tertiary-color;
        padding-bottom: 5px;
    }
}


/*div bloc + texte*/

.menu__category {
    @include carte;
    height: 90px;
    @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
            animation-delay: 100ms;
        }
    }
    animation: appear 3s;
    .menu__price {
        margin: 0;
        margin-left: auto;
        padding: 50px 25px 0 15px;
    }
    .menu__check {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $tertiary-color;
        width: 80px;
        margin-right: -80px;
        transition: margin-right 0.5s;
        color: white;
        font-size: 20pt;
    }
    &:hover {
        .menu__check {
            margin-right: 0;
        }
        .iconecheck {
            margin-right: 0;
            animation: check 1s ease;
        }
    }
}

.menu__strong {
    font-size: 17.5pt;
}

.menu__light {
    font-size: 14.5pt;
}

.poulet {
    @include carte;
    height: 120px;
}


/*.entry {
    border: 1px solid red;
    margin-top: 16px;
    opacity: 1;
    animation: choix 1s ease;
}*/