$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$gradient-color: linear-gradient(176deg, #ff79da, #9356dc);
$gradient-color-hearth: linear-gradient(170deg, #9356dc, #ff79da);
$police-titre: "Shrikhand";
$police-texte: "Roboto";